/*--------------------------------------------------------------
# Editor Styles 
#
# This is the place to enter any custom overrides or structural 
# styles for the block editor.
--------------------------------------------------------------*/

/* Main column width */
.wp-block {
    max-width: 700px;
}

/* Width of 'wide' blocks */
.wp-block[data-align='wide'] {
    max-width: 1200px;
}

/* Width of 'full-wide' blocks */
.wp-block[data-align='full'] {
    max-width: none;
}

p,
ol,
ul,
dl,
dt {
	font-family: var( --font-body );
	line-height: 1.4;
}

.editor-post-title__input,
h1,
h2,
h3,
h4,
h5,
h6,
.has-drop-cap:not( :focus )::first-letter,
cite,
figcaption,
.wp-caption-text {
	font-family: var( --font-header );
}

.editor-post-title__input {
	text-align: center;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
	text-decoration: none !important; /* Overrides :hover and :active states. */
}

.editor-post-title__input,
h1 {
	font-weight: 900;
	color: var( --color-secondary-text );
	font-size: 3em;
}

h2 {
	color: var( --color-tertiary-text );
	font-size: 1.2em;
	line-height: 1.4;
}

h2 > strong {
	background-color: var( --color-highlight );
	padding: 0 0.3em;
	-webkit-box-decoration-break: clone;
	box-decoration-break: clone;
}

h3 {
	font-size: 0.9em;
}

h4, h5, h6 {
	font-size: 0.6em;
	text-transform: inherit;
}

.has-small-font-size {
	font-size: 18px;
}
.has-normal-font-size,
p:not( [class*='-font-size'] ) {
	font-size: 21px;
}
.has-large-font-size {
	font-size: 26.25px;
}
.has-larger-font-size {
	font-size: 32px;
	line-height: 1.3;
}

.uppercase {
	text-transform: uppercase;
}

.block-editor-rich-text__editable a {
	color: var( --color-accent-text );
}

.wp-block-paragraph.has-background-color {
	color: #ffffff;
}

.wp-block-button .wp-block-button__link {
	border-radius: 1000px;
	font-family: var( --font-header );
	font-size: 17px;
	text-transform: uppercase;
	letter-spacing: 0.0333em;
}
.is-style-outline .wp-block-button__link {
	border-width: 4px;
}
.is-style-outline .wp-block-button__link.has-secondary-color {
	border-color: var( --color-secondary-border );
	color: var( --color-secondary-text );
}
.is-style-outline .wp-block-button__link.has-tertiary-color {
	border-color: var( --color-tertiary-border );
	color: var( --color-tertiary-text );
}
.is-style-outline .wp-block-button__link.has-accent-color {
	border-color: var( --color-accent-border );
	color: var( --color-accent-text );
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 1.5em;
}
.wp-block-quote {
	border-left-width: 0;
}
.wp-block-quote::before {
	content: '\201C';
	color: var( --color-tertiary-border );
	font-size: 4em;
	position: absolute;
	left: -60px;
	line-height: 1;
}

.wp-block-quote__citation {
	color: var( --color-tertiary-text );
	font-family: var( --font-body );
}

.is-style-border-dark {
	color: var( --color-tertiary-text );
	border: 10px solid var( --color-tertiary-border );
}

.is-style-border-alt {
	border: 10px solid var( --color-secondary-border );
}

.is-style-border-accent {
	color: var( --color-accent-text );
	border: 10px solid var( --color-accent-border );
}

.is-style-emphasis {
	color: var( --color-accent-text );
	font-family: var( --font-header );
	font-weight: bold;
	letter-spacing: -0.0415625em;
}
.is-style-emphasis:not( [class*='-font-size'] ) {
	font-size: 1.95em;
}

div[class*='is-style-border-'].wp-block-media-text {
	margin: auto;
	max-width: var( --default-content-width );
}

div[class*='is-style-border-'].wp-block-media-text .wp-block-media-text__media > img {
	display: block;
}

.wp-block-coblocks-accordion-item,
.wp-block-coblocks-accordion-item__title,
.wp-block-coblocks-accordion-item__content {
	border-radius: 0;
}
.wp-block-coblocks-accordion-item {
	position: relative;
}
.wp-block-coblocks-accordion-item::after {
	content: '\FF0B';
	right: 10px;
	font-size: 30px;
	line-height: 51px;
	font-family: monospace;
	position: absolute;
	top: 0;
	opacity: 0.5;
}
.wp-block-coblocks-accordion-item--open::after {
	content: '\FF0D';
}
.wp-block-coblocks-accordion-item__title {
	font-family: var( --font-header );
	font-weight: 700;
	color: var( --color-secondary-text );
	background-color: rgba( 215, 230, 231, 0.5 );
}
.wp-block-coblocks-accordion-item__title.has-background {
	padding-top: 10px;
	padding-bottom: 10px;
	color: #fff;
}

.wp-block-separator:not( .is-style-wide ):not( .is-style-dots ) {
	max-width: none;
	border-bottom-width: 1px;
	border-bottom-color: #6d6d6d;
}
.wp-block-separator.is-style-wide {
	margin-left: -10em;
	margin-right: -10em;
}
.wp-block-separator.is-style-dots::before {
	font-size: 3.2rem;
	letter-spacing: 1em;
	padding-left: 1em;
}
