/**
 * The following styles get applied both on the front of your site
 * and in the editor.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-mutualaidnyc-media-border {
	display: flex;
	flex-direction: column;
	border: 10px solid;
	min-height: 140px;
}

.wp-block-mutualaidnyc-media-border__media {
	height: 100%;
	background-size: cover;
	margin: 0;
	flex: 0 0 140px;
	min-height: 140px;
}

.wp-block-mutualaidnyc-media-border__content {
	padding: 1em 1em 0;
	word-break: break-word;
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-grow: 1;
}

.wp-block-mutualaidnyc-media-border__media img {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	border: 0;
}

.wp-block-mutualaidnyc-media-border.has-background {
	color: var(--color-primary-text);
	border-color: var(--color-primary-text);
}

.wp-block-mutualaidnyc-media-border.has-secondary-color {
	color: var(--color-accent-text);
	border-color: var(--color-accent-border);
}

.wp-block-mutualaidnyc-media-border.has-dark-color {
	color: var(--color-dark-text);
	border-color: var(--color-dark-border);
}

.wp-block-mutualaidnyc-media-border.has-dark-alt-color {
	color: var(--color-dark-alt-text);
	border-color: var(--color-dark-alt-border);
}

.wp-block-mutualaidnyc-media-border.has-accent-background-color {
	color: var(--color-accent-background);
	border-color: var(--color-accent-background);
}

.wp-block-mutualaidnyc-media-border.has-light-background-color {
	color: var(--color-light-background);
	border-color: var(--color-light-background);
}

@media screen and ( min-width: 426px ) {

	.wp-block-mutualaidnyc-media-border {
		flex-direction: row;
	}

	.wp-block-mutualaidnyc-media-border__content {
		padding: 0 1em 0 3em;
	}

	.wp-block-mutualaidnyc-media-border.has-media-on-right .wp-block-mutualaidnyc-media-border__media {
		order: 2;
	}

	.wp-block-mutualaidnyc-media-border.has-media-on-right .wp-block-mutualaidnyc-media-border__content {
		padding: 0 3rem 0 1rem;
	}
}
