:root .has-primary-color {
	color: var( --color-primary-text );
}
:root .has-primary-background-color {
	background-color: var( --color-primary-text );
}
:root .has-accent-color {
	color: var( --color-accent-text );
}
:root .has-accent-background-color {
	background-color: var( --color-accent-text );
}
:root .has-secondary-color {
	color: var( --color-secondary-text );
}
:root .has-secondary-background-color {
	background-color: var( --color-secondary-text );
}
:root .has-tertiary-color {
	color: var( --color-tertiary-text );
}
:root .has-tertiary-background-color {
	background-color: var( --color-tertiary-text );
}
:root .has-highlight-color {
	color: var( --color-highlight );
}
:root .has-highlight-background-color {
	background-color: var( --color-highlight );
}
:root .has-highlight-alt-color {
	color: var( --color-highlight-alt );
}
:root .has-highlight-alt-background-color {
	background-color: var( --color-highlight-alt );
}