/*--------------------------------------------------------------
# Base Styles
#
# These provide a baseline for all front-end styles. 
# Please override these in style-custom.css.
--------------------------------------------------------------*/

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/

body, .entry-content {
	font-family: var( --font-body );
}

h1, h2, h4, h5, h6 {
	font-family: var( --font-header );
	font-weight: 700;
}

h1 {
	font-weight: 900;
	color: var( --color-dark-alt-text );
	font-size: 3em;
}

h2 {
	color: var( --color-accent-text );
}

h3 {
	font-family: var( --font-compressed );
	font-size: 1em;
	color: var( --color-dark-alt-text );
}

h4 {
	color: var( --color-dark-text );
	background-color: var( --color-accent-background );
	font-size: 1.75em;
}

a {
	color: var( --color-accent-text );
}

/*--------------------------------------------------------------
# Utilities
--------------------------------------------------------------*/

:root .has-secondary-color {
	color: var( --color-accent-text );
}
:root .has-secondary-background-color {
	background-color: var( --color-accent-text );
}
:root .has-dark-color {
	color: var( --color-dark-text );
}
:root .has-dark-background-color {
	background-color: var( --color-dark-text );
}
:root .has-dark-alt-color {
	color: var( --color-dark-alt-text );
}

/*--------------------------------------------------------------
# Footer
--------------------------------------------------------------*/

.footer-social a,
.social-icons a {
	background-color: var( --color-accent-text );
}