/*--------------------------------------------------------------
# Block Styles
#
# These provide front-end block styles. 
--------------------------------------------------------------*/

.wp-block-button__link {
	background-color: var( --color-primary-text );
}

.is-style-outline .wp-block-button__link {
	border-width: 4px;
}
.is-style-outline .wp-block-button__link.has-secondary-color {
	border-color: var( --color-accent-border );
}
.is-style-outline .wp-block-button__link.has-dark-color {
	border-color: var( --color-dark-border );
}
.is-style-outline .wp-block-button__link.has-dark-alt-color {
	border-color: var( --color-dark-alt-border );
}

.wp-block-quote {
	border-left-width: 0;
	position: relative;
}
.wp-block-quote::before {
	content: '\201C';
	color: var( --color-dark-border );
	font-size: 4em;
	position: absolute;
	left: -60px;
	line-height: 1;
}

.wp-block-quote cite {
	color: var( --color-dark-text );
	font-family: var( --font-body );
}

.wp-block-pullquote::before {
	color: var( --color-accent-text );
}