:root {
	--color-primary-text: #000000;
	--color-accent-text: #c24532;
	--color-accent-border: #e6a290;
	--color-secondary-text: #204045;
	--color-secondary-border: #6b9495;
	--color-tertiary-text: #47133d;
	--color-tertiary-border: #a17193;
	--color-highlight: #f7cf56;
	--color-highlight-alt: #a4cacb;

	--font-header: 'Poppins', sans-serif;
	--font-body: 'Karla', sans-serif;

	--default-content-width: 70rem;
}
