:root {
	--color-primary-text: #000000;
	--color-accent-text: #c24532;
	--color-accent-border: #e6a290;
	--color-dark-text: #47133d;
	--color-dark-border: #a17193;
	--color-dark-alt-text: #204045;
	--color-dark-alt-border: #6b9495;
	--color-accent-background: #f7cf56;
	--color-light-background: #a4cacb;

	--font-header: 'Poppins', sans-serif;
	--font-body: 'Karla', sans-serif;
	--font-compressed: 'Francois One', sans-serif;
}

.editor-styles-wrapper p,
.editor-styles-wrapper ol,
.editor-styles-wrapper ul,
.editor-styles-wrapper dl,
.editor-styles-wrapper dt {
	font-family: var( --font-body );
}

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block h1,
.editor-styles-wrapper .wp-block h2,
.editor-styles-wrapper .wp-block h4,
.editor-styles-wrapper .wp-block h5,
.editor-styles-wrapper .wp-block h6,
.editor-styles-wrapper .has-drop-cap:not(:focus)::first-letter,
.editor-styles-wrapper cite,
.editor-styles-wrapper figcaption,
.editor-styles-wrapper .wp-caption-text {
	font-family: var( --font-header );
}

.editor-post-title__block .editor-post-title__input,
.editor-styles-wrapper .wp-block h1 {
	font-weight: 900;
	color: var( --color-dark-alt-text );
	font-size: 3em;
}

.editor-styles-wrapper .wp-block h2 {
	color: var( --color-accent-text );
}

.editor-styles-wrapper .wp-block h3 {
	font-family: var( --font-compressed );
	font-size: 1em;
	color: var( --color-dark-alt-text );
}

.editor-styles-wrapper .wp-block h4 {
	color: var( --color-dark-text );
	background-color: var( --color-accent-background );
	font-size: 1.75em;
}

.block-editor-rich-text__editable a {
	color: var( --color-accent-text );
}

.wp-block-button .wp-block-button__link {
	font-family: var( --font-header );
	font-size: .8em;
}
.is-style-outline .wp-block-button__link {
	border-width: 4px;
}

.wp-block-pullquote.is-style-solid-color blockquote p {
	font-size: 1.5em;
}
.wp-block-quote {
	border-left-width: 0;
}
.wp-block-quote::before {
	content: '\201C';
	color: var( --color-dark-border );
	font-size: 4em;
	position: absolute;
	left: -60px;
	line-height: 1;
}

.wp-block-quote__citation {
	color: var( --color-dark-text );
	font-family: var( --font-body );
}